html, body {
    margin:0px;
    height:100%;
}

input[type="text"] {
    width:calc(100% - 8px);
}

form {
    border-width:1px;
    border-style:solid;
    border-color:black;

    width:max-content;

    padding:24px;
    padding-top:8px;
    padding-bottom:8px;
}

